.parallax {

	> div {
		align-items: center;
		background: $pink;
		display: flex;
		height: 10rem;
		justify-content: center;
		transition: transform 100ms linear;
		width: 25%;
	}

	h1 {
		color: $white;
	}

	.left {
		float: left;
		margin-left: 20%;
		margin-top: 2rem;
	}

	.right {
		float: right;
		margin-right: 20%;
		margin-top: 10rem;
	}

	// Clearfix
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}