:root {
	font-family: 'Avenir', sans-serif;
	font-size: 16px;
}

body {
	background: $white;
	min-height: 100vh;
}

a {
	color: $blue;
}

p {
	line-height: 1.8;
}

article,
.page-header {
	margin: 0 auto;
	max-width: 600px;
	padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

button {
	cursor: pointer;
}
